body{
    margin:0;
    padding:0;
    background-color: #f4f4f4;
    font-family: 'Baskervville', serif;
}
.top-bar{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    /* box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0; */
}

h2.ak-title {
    padding: 15px;
    margin:0;
    text-align: center;
}
.hpanel {
    min-height: 140px;
}

.hpanel1 {
    min-height: 180px;
}
.panel {
    border: 1px solid #eaeaea;
    background-color: #fff;
    margin-bottom: 20px;
}

.panel-title {
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    margin:0;
}

.panel-body {
    padding: 10px;

}
.pad {
    padding: 10px;
}