body{
    margin:0;
    padding:0;
    background-color: #f4f4f4;
    font-family: 'Baskervville', serif;
}
.top-bar{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    /* box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0; */
}

h2.ak-title {
    padding: 15px;
    margin:0;
    text-align: center;
}
.hpanel {
    min-height: 140px;
}

.hpanel1 {
    min-height: 180px;
}
.panel {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    margin-bottom: 20px;
}

.panel-title {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
    margin:0;
}

.panel-title h3 { margin:0; padding: 0;}

.panel-body {
    padding: 10px;

}
.pad {
    padding: 10px;
}

.full-screen {
    position: 'fixed';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.btn {
    border-radius: 0%;
    padding: 3px 10px;
    color: #666;
    font-size: 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
}

button.btn:focus { outline: none;}

a, a:visited {
    color: #333;
}

table {
    width:  100%;
    border-collapse: collapse;
}

td { word-wrap: break-word; border: 1px solid #eaeaea; padding: 2px 5px;}